body
{
    font-family: Cambria;
    background-color: #111111;
    color:  #ffffff;
}
.dropdown-toggle
{
    color: #000;
    font-size: 17px;
}
.bg-lig
{
     background-color: #000000bb;
    backdrop-filter: blur(10px);
}
/*=======Block style=======*/
.blocks
{
    min-height: 400px;
}
h1.Title
{
    font-size: 140px;
}
h2.Title
{
    font-size: 48px;
}
h1.title
{
    margin: 40px;
    font-weight: bold;
}
.talant {
    font-size: 32px;
    color: #ca6c08;
}
.coll{
     background-color: #ffffff22;
    border-radius: 25px;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.carousel-item > img.tech
{
    margin-left: 20.5rem;
    height: 25rem;
    width: 50rem;
    opacity: 0.6;
}
.carousel-item > img.ind
{
    width: 45em;
    height: 30em;
    opacity: 1;
}
ul.ind > li{
    background-color: #111111;
    width: 220px;
    font-size: 24px;
}
.carousel-caption.tech
{
    font-family: "Century Gothic";
    margin-right: 10rem;
    margin-left: 10rem;
    background-color: #000000cc;
    border-radius: 20px;
}
@media (min-width: 500px) {
    .blocks
    {
        position: relative;
        z-index: 0;
        min-height: 45em;
    }
    .pad
    {
        padding-top: 50px;
        padding-bottom: 50px;
        position: absolute;
        top: -35px;
        left: 120px;
        right: 120px;
        background-color: #1b1e21bb;
        border-radius: 300px;
    }
    .padd
    {
        margin-top: 280px;
    }
}
@media (min-width: 1600px) {
    .blocks
    {
        position: relative;
        z-index: 0;
        min-height: 55em;
    }
    .pad
    {
        padding-top: 90px;
        padding-bottom: 90px;
        position: absolute;
        top: -35px;
        left: 150px;
        right: 150px;
        background-color: #1b1e21bb;
        border-radius: 300px;
    }
    .padd
    {
        margin-top: 380px;
    }
    .carousel-item > img.tech
    {
        margin-left: 19rem;
        height: 35rem;
        width: 80rem;
        opacity: 0.6;
    }
    .carousel-item > img.ind
    {
        margin-top: 0px;
        width: 60em;
        height: 40em;
        opacity: 1;
    }
    .content
    {
        font-size: 24px;
        width: 650px;
        color: #ca6c08;
    }
}

.blocks-min
{
    min-height: 200px;
}
p{
    font-size: 18px;
}
.content
 {
    position: relative;
    width: 180px;
    left: 45px;
    min-height: 60px;
    padding-top: 15px;
    color: #ca6c08;
 }
a.image-hover
{
    position: relative;
    margin: 40px 0px 40px 0px;
}
a > span > img
{
    filter: invert(0);
}

a.image-hover:hover
{
    transform: scale3d(1.2,1.2,1.2);
}

/*==========Form style===*/
.form
{
    position: fixed;
    display: none;
}
.form.active
{
    position: relative;
    display: block;
}

/*======Menu style====*/
#menu-toggle,#sidebar-wrapper,.list-group-item-action,.list-group-item
{
    color: #ffffff;
}
@media(min-width: 500px) {
    .navbar-brand
    {
        position: absolute;
        left: 15px;
    }
}
/*=======Image style=====*/
.image-style
{
    width: 60rem;
    height: 400px;
}
.brand{
    font-weight: bold;
    color: #fff;
    font-family: Cambria;
}
.interface
{
    margin-right: 4px;
    font-size: 18px;
    font-weight: bold;
}
/*========Chooise===*/
img.image-hover
{
    border-radius: 25px;
    margin-top: 50px;
}
img.image-hover:hover{
    transform: scale(1.2);
}
.ser
{
    font-size: 18px;
    font-weight: bold;
    color: #ca6c08;
    margin-left: 150px;
}
.img-text
{

}
a.hov:hover
{
    text-decoration: none;
}
.opp
{
    opacity: 0.5;
}
/*======Call Button======*/
.call_button
{
    position: fixed;
    right: 20px;
    bottom: 40px;
    background-color: #ca6c08aa;
    z-index: 100;
    border-radius: 300px;
}