body
{
	overflow-y: auto;
	overflow-x: hidden;
	font-family: Century Gothic;
}
#submits{
	position: relative;
	left: -300px;
}
@media(min-width: 1666px){
  #submits{
	position: relative;
	left: -800px;
}
}
/* Form Style */
.form-horizontal{
    margin-top: 40px;
 background: #000;
    color: #ffffff;
 padding-bottom: 40px;
 text-align: center;
}
a.talk_to_our_team
{
    font-size: 28px;
    padding: 8px 20px 8px 20px;
    color: #fff;
    background-color: #ca6c08;
    border-radius: 50px;
}
@media (min-width: 500px) {
    .form-horizontal
    {
        margin-left: 20rem;
        margin-right: 20rem;
    }
    a.talk_to_our_team
    {
        padding: 20px 60px 20px 60px;
    }
}
a.talk_to_our_team:hover
{
    transform: scale(1.4);
}
 .heading{
 text-align: center;
 font-size: 35px;
}
.form-horizontal .form-group{
 padding: 0 40px;
 margin: 0 0 25px 0;
 position: relative;
}
.form-horizontal .form-control{
 background: #f0f0f0;
 border: none;
 border-radius: 5px;
 box-shadow: none;
 padding: 0 20px 0 45px;
 height: 40px;
 transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus{
 background: #e0e0e0;
 box-shadow: none;
 outline: 0 none;
}
.form-horizontal .form-group i{
 position: absolute;
 top: 12px;
 left: 60px;
 font-size: 17px;
 color: #c8c8c8;
 transition : all 0.5s ease 0s;
}
.form-horizontal .form-control:focus + i{
 color: #00b4ef;
}
.form-horizontal .fa-question-circle{
 display: inline-block;
 position: absolute;
 top: 12px;
 right: 60px;
 font-size: 20px;
 color: #808080;
 transition: all 0.5s ease 0s;
}
.form-horizontal .fa-question-circle:hover{
 color: #000;
}
.form-horizontal .main-checkbox{
 float: left;
 width: 20px;
 height: 20px;
 background: #11a3fc;
 border-radius: 50%;
 position: relative;
 margin: 5px 0 0 5px;
 border: 1px solid #11a3fc;
}
.form-horizontal .main-checkbox label{
 width: 20px;
 height: 20px;
 position: absolute;
 top: 0;
 left: 0;
 cursor: pointer;
}
.form-horizontal .main-checkbox label:after{
 content: "";
 width: 10px;
 height: 5px;
 position: absolute;
 top: 5px;
 left: 4px;
 border: 3px solid #fff;
 border-top: none;
 border-right: none;
 background: transparent;
 opacity: 0;
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox]{
 visibility: hidden;
}
.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{
 opacity: 1;
}
.form-horizontal .text{
 float: left;
 margin-left: 7px;
 line-height: 20px;
 padding-top: 5px;
 text-transform: capitalize;
}
 select{
     width: 48rem;
	padding: 5px;
 border-radius: 5px;
 background-color: #f0f0f0;
}
 @media (max-width: 500px) {
    select {
        width: 20rem;
    }
 }
.form-horizontal .btn{
 float: right;
 font-size: 14px;
 color: #fff;
 background: #00b4ef;
 border-radius: 30px;
 padding: 10px 25px;
 border: none;
 text-transform: capitalize;
 transition: all 0.5s ease 0s;
}
@media only screen and (max-width: 479px){
 .form-horizontal .form-group{
 padding: 0 25px;
 }
 .form-horizontal .form-group i{
 left: 45px;
 }
 .form-horizontal .btn{
 padding: 10px 20px;
 }
}
@media only screen and (min-width: 479px){
#edit
{
	margin-left: 200px;
	}
}
.social i
{
	background-color: #11a3fc;
	background-size: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin-right: 10px;
}
.social i:hover
{
	background-color: #11a3fc;
	color: #fff;
	border-radius: 15px;
	cursor: pointer;
	padding: 12px;
}

p.policy
{
	color: #ffffee;
	font-size: 14px;

}
.with-errors
{
	color: red;
	font-size: 12px;
	padding-top: 3px;
	height: 10px;
}
/*=====Admin======*/
.name
{
	color: #000;
	font-size: 18px;
}
@media(max-width: 500px)
{
	.SpamEmail
	{
		border-top: 3px;
		margin-top: 30px;
		padding: 10px;
	}
}


label:hover {
    cursor: pointer;
    text-decoration: underline;
}


input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

label.focus {
    outline: 1px solid #0078d7;
    outline: -webkit-focus-ring-color auto 5px;
}